.board {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 8px;
  overflow: hidden;
}

.square {
  background-color: #eee;
}

.square--winning {
  background-color: cornflowerblue;
}